*{
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    
}

#container{
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 100px;
}

h1{
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;
}

p{
    margin-bottom: 40px;
    opacity: 0.7;
}
input, button{
    width: 100%;
    display: block;
    padding: 20px;
}
input{
    margin-bottom: 20px;
    text-align: center;
    border-radius: 2px;
}
button{
    background-color: blueviolet;
    border: none;
    color: white;
    transition: filter .2s;
    font-size: 20px;
}

button:hover{
    filter: brightness(1.2);
}

#resposta{
    margin-top: 30px;

    transition: opacity 1s;
}

#resposta div{
    font-size: 18px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 10px; 
}



